// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body{
  background-color:#1D2025 !important;
  font-family: 'Roboto', sans-serif;
}


.account-summary{
  text-align: left;
  margin-bottom: 20px;

}

.follower-suggestions{
  background: #1D2025;
  padding: 15px;
  border: 1px solid #1D2025;
  border-radius: 4px;
}

.text-left2{
  text-align: left !important;
}

.profile-pic{
  border-radius: 50%;
  height: 200px;
}

.profile-stats{
  max-width: 360px;
  //float: left;
  margin-bottom: 30px;
}

.profile-posts{
  margin-top: 50px !important;
}
.btn-custom{
  background: #1D2025;
  border: 1px solid #627d98 !important;
      margin-top: 10px;
      color: #627d98 !important;
}
.m-l-15{
  margin-left: 15px;
}
