// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  color: white !important;
}
.overflov{
  overflow-y: hidden !important;
    overflow-x: hidden !important;
  ::-webkit-scrollbar {
    display: none !important;
  }
  -ms-overflow-style: none !important;
}
a{
  text-decoration: none !important;
}
@media (max-width: 40rem){
  .chat-box {
    display: table;
    position: absolute !important;
    bottom: -10px !important;
    padding: 20px !important;
    width: calc(100% + 30px) !important;
    max-width: 137vh;

    background-color:#1D2025;

    border-top: 1px solid #121212;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }

}
.chat-room {
  height: 79.5vh;

  #messages {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 75px;
    padding-top: 20px;
  }

  .navbar {
    background-color: #1D2025;
    border-bottom: 1px solid #121212;
    color: #627d98;
    margin-left: -15px;
    width: calc(100% + 30px);
    .navbar-brand{
      color: #627d98;
    }
  }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .content {
        background-color: #121212;
        padding: 8px 16px;
        border-radius: 20px;
        color:#bcccdc;
      }
      .author {
        font-size: 0.8rem;
        color: #627d98;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .content {
          background-color: #007bff;
         color: white;
        }
        .author{
          float: right;
        }
      }
    }
  }
  .chat-box {
    display: table;
    position: absolute !important;
    bottom: -10px !important;
    padding: 20px !important;
    width: calc(100% + 30px) !important;
    max-width: 100vh;

    background-color:#1D2025;

    border-top: 1px solid #121212;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
}

.chat-link {
  &:hover {
   text-decoration: none;
  }
  .card-body{

  }
  .chat-card {
    transition: background-color 0.5s ease;
    border-radius: 20px;
    background-color: #191c20;
    color: #627d98;
    &:hover {
      background-color: #121212;
    }
    &.active {
      background-color: #121212;
      .name {
        color: white;
      }
      .member-count {
        color: #e0e0e0;
      }
    }
    .name {
      font-weight: bold;
      color: #627d98;
    }

  }
}

.chats-sidebar {
  border-right: 1px solid #eeeeee;
}
.neki{
  padding: 5px;

}
.form-control:focus {

  background-color: #fff !important;
  border: 0px !important;
   outline: 0 !important;
box-shadow: 0 0 0 0 !important;
}
