.insta-post{
  margin-bottom: 15px;
  background-color: #fff;
  text-align: center;
}
.post-meta{
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin-right: 10px;
  }
}
.thumb{
  height: 45px;
  width: 45px;
    border-radius: 50%;
}
.no-underline{
  text-decoration: none;
}
.post-details{
  text-align: left;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;

}
