.insta-post{
  margin-bottom: 15px;
  background-color: #121212;
  text-align: center;
  border-radius: 25px;
}
.post-meta{
  background: #121212;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #121212;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-collapse: separate;
  img {
    margin-right: 10px;
  }
}
.img-fluid{
  min-width: 100%;
}
.thumb{

    border-radius: 50%;
}
.no-underline{
  text-decoration: none;
}
.post-details{
  text-align: left;
  background: #121212;
  padding: 15px;
  padding-bottom: 0px;
  border: 1px solid #121212;
  color:#bcccdc;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-collapse: separate;
}
.color{
  color:#E1F3FF;
}
.color2{
    color:#bcccdc;

}
.color3{
    color:#627d98;
}
.color4{
    color:#bcccdc;
}
.whitespace{
  white-space-collapsing:discard;
  p{
    padding : 0;
    margin : 0;
    line-height : 20px;
  }
}
.marginini{
  margin-top:5px;
}
.post-actions{
  margin-bottom: 5px;
  i{
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
  }
  i.active{
    color: #ed4956;
  }
  i:hover{
    color: #c7c7c7;
  }
  .active:hover{
    color: #bf3f4a;
  }


}
.comment-box{
  padding: 10px;
  padding-bottom: 12px;
  background-color:#121212;
  border-top: solid 1px #1e1e1e;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: left;

}
.input-group{

  input{
    box-shadow: none !important;
    outline: none !important;
    border: solid 1px #121212;
    background-color: #121212;
    color:#627d98;
  }
  input:hover{
    box-shadow: none !important;
    outline: none !important;
    border: solid 1px #121212;
    background-color: #121212;
    color:#627d98;
  }
  input:active{
    box-shadow: none !important;
    outline: none !important;
    border: solid 1px #121212;
    background-color: #121212;
    color:#627d98;
  }
  input:focus{
    box-shadow: none !important;
    outline: none !important;
    border: solid 1px #121212;
    background-color: #121212;
    color:#627d98;
  }
}
.post-comment{
  box-shadow: none !important;
  outline: none !important;
  border: solid 1px #121212;
  background-color: #121212;
  color:#627d98;
}
.input-group-append{
input{
  color: #0093f5;
}
input:disabled{
  color: #627d98;
}
}
.marginos{
  margin-top: 10px;
  font-size: 12px;
}
.comments-feed{

  height: 300px;
  overflow: scroll;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
.post-stats{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  display: none;



  .inner{
    padding-top: 45%;
    text-decoration: none;
  }
}
.insta-post:hover{
  .post-stats{
    display: block;
  }

}
.post-square{
  height: 290px;
  width: 290px;
  overflow: hidden;
  background-size: cover !important;
}
.ikone{
  margin-right: 2px;
}
