.insta-post{
  margin-bottom: 15px;
  background-color: #fff;
  text-align: center;
}
.post-meta{
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin-right: 10px;
  }
}
.thumb{

    border-radius: 50%;
}
.no-underline{
  text-decoration: none;
}
.post-details{
  text-align: left;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;

}
.post-actions{
  margin-bottom: 20px;
  i{
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
  }
  i.active{
    color: #ed4956;
  }
  i:hover{
    color: #c7c7c7;
  }
  .active:hover{
    color: #bf3f4a;
  }


}
